<!DOCTYPE html> <!--Dimitrios--><!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Add new agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <h1 class="heading">Add New Agreement</h1><br>

    <h2 class="heading">Available vehicles between <span th:text="${#temporals.format(startDate, 'dd-MM-yyyy')} + ' and ' + ${#temporals.format(endDate, 'dd-MM-yyyy')}"></span>:</h2><br>

    <main class="main_body">

        <div class="main table-wrapper" id="main">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Vehicle ID</th>
                    <th>Plates</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Beds</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicle : ${availableVehicles}">
                    <td th:text="${vehicle.vehicleID}"></td>
                    <td th:text="${vehicle.plates}"></td>
                    <td th:text="${vehicle.brand}"></td>
                    <td th:text="${vehicle.model}"></td>
                    <td th:text="${vehicle.beds}"></td>
                    <td th:text="${vehicle.price}"></td>
                    <td>
                        <!-- Add select button -->
                        <a th:href="@{/agreement/create/{startDate}/{endDate}/selectVeh*cle/{vehicleId}(startDate = ${startDate},
                        endDate = ${endDate}, vehicleId=${vehicle.vehicleID})}"><button class="btn-action">SELECT</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>