<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Add new agreement</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>
<main class="main_body">
    <form action="#" th:action="@{/create/{startDate}/{endDate}/selectVehicle/{vehicleId}/existing-renter(startDate=${startDate}, endDate=${endDate}, vehicleId=${vehicleId})}" method="get" class="form-inline">
        <div>
            <label>
                <input type="text" name="driverLicenseNumber" placeholder="Search Renter" />
            </label>
            <input type="submit" value="Search" />
        </div>
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <th role="columnheader">First Name</th>
                <th role="columnheader">Last Name</th>
                <th role="columnheader">Driver License Number</th>
                <th role="columnheader">Phone</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="renter:${renters}">
                <td th:text="${renter.firstName}"></td>
                <td th:text="${renter.lastName}"></td>
                <td th:text="${renter.licenseNumber}"></td>
                <td th:text="${renter.phone}"></td>
                <!-- Add select button -->
                <td>
                    <a th:href="@{/create/{startDate}/{endDate}/selectVehicle/{vehicleId}/existing-renter/{renterId}(startDate = ${startDate},
                                            endDate = ${endDate}, vehicleId=${vehicleId}, renterId=${renter.id})}">Select</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:insert="footer :: footer_template"></div>
</body>
</html>