<!DOCTYPE html> <!--Dimitrios--><!--Karolina-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title id="title">Add Agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <h1 class="heading">Add New Agreement</h1>

    <main class="main_body">
        <form action="#" th:action="@{/agreement/create/selectDates}" method="post">
            <fieldset>
                <p>Time period, number of beds and price</p>
                <div class="form-group">
                    <label for="startDate">*From:</label>
                    <input type="date" th:attr="min=${now}" placeholder="Enter date" id="startDate" th:field="${agreement.startDate}" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="endDate">*To:</label>
                    <input type="date" class="form-control" th:attr="min=${now}" placeholder="Enter date" id="endDate" th:field="${agreement.endDate}" required>
                </div><br>
                <label for="price">Number of beds:</label>
                <input type="number" min="2" max="6" th:field="${vehicle.beds}" id="beds" required value="2"><br>
                <small>Must be a number between 2 and 6.</small><br><br>

                <label for="price">Maximum price:</label>
                <input type="number" min="200" max="1000" th:field="${vehicle.price}" id="price" required value="200"><br>
                <small>Must be a number between 200 and 1000.</small><br>
            </fieldset><br>
            <input class="btn-submit-add" type="submit" value="Find Available Vehicles">
        </form>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>

