<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Add new agreement</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>
    <main class="main_body">
        <h1 class="heading">Add New Agreement</h1>
            <form action="#" th:action="@{/create/selectDates}" method="post">
                <div class="form-group">
                    <label for="startDate">*From:</label>
                    <input type="date" th:attr="min=${now}" placeholder="Enter date" id="startDate" th:field="${agreement.startDate}" required>
                </div>

                <div class="form-group">
                    <label for="endDate">*To:</label>
                    <input type="date" class="form-control" th:attr="min=${now}" placeholder="Enter date" id="endDate" th:field="${agreement.endDate}" required>
                </div>

                <label for="price">Number of beds:</label>
                <input type="number" min="2" max="6" th:field="${vehicle.beds}" id="beds" required value="2"></input><br>
                <small>Must be a number between 2 and 6.</small><br>

                <label for="price">Maximum price:</label>
                <input type="number" min="200" max="1000" th:field="${vehicle.price}" id="price" required value="200"></input><br>
                <small>Must be a number between 200 and 1000.</small><br>
                <button type="submit" class="btn btn-primary">Find Vehicle</button>
            </form>
            <hr>
            <a th:href="@{/viewAgreements}">Back to Agreements List</a>
    </main>
    <div th:insert="footer :: footer_template"></div>
</body>
</html>

