<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Add Employee</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <h1 class="emp">Add New Employee</h1>

    <main class="main_body">
        <form th:action="@{/addEmployee}" method="post">
            <fieldset>
               <!-- <legend>Personal Information</legend>-->
                <p>Personal Information</p>
                <label>First name:</label>
                <input type="text" name="firstName" placeholder="ex. John" required><br><br>
                <label>Last name:</label>
                <input type="text" name="lastName" placeholder="ex. Smith" required><br><br>
                <label>CPR:</label>
                <input type="text" name="cpr" placeholder="ex. 251278-4568" required><br><br>
                <label>Telephone:</label>
                <input type="text" name="phone" placeholder="ex. 52189658" required><br><br>
                <label>Email:</label>
                <input type="text" name="email" placeholder="ex. smith@gmail.com"><br><br>
            </fieldset> <br>

            <fieldset>
                <p>Address</p>
                <label>Street:</label>
                <input type="text" name="street" placeholder="ex. Falkoner Alle" required><br><br>
                <label>Building number:</label>
                <input type="text" name="building" placeholder="ex. 45" required><br><br>
                <label>Floor:</label>
                <input type="text" name="floor" placeholder="ex. 3" required><br><br>
                <label>Door:</label>
                <input type="text" name="door" placeholder="ex. th" required><br><br>
                <label>City:</label>
                <input type="text" name="city" placeholder="ex. Copenhagen" required><br><br>
                <label>Country:</label>
                <select id="country" name="country">
                    <option th:each="country: ${countries}" th:value="${country}"><span th:text="${country}"></span></option>
                </select><br><br>
            </fieldset> <br>

            <fieldset>
                <p>Job Specifics</p>
                <label>Job title:</label>
                <input type="text" name="type" placeholder="ex. Sales Assistant" required><br><br>
                <label>Salary:</label>
                <input type="text" name="type" placeholder="ex. 25000" required><br><br>
                <label>System role:</label>
                <select id="role" name="role" onchange="showFields(this)" required>
                    <option th:value="restricted"><span th:text="restricted"></span></option>
                    <option th:value="admin"><span th:text="admin"></span></option>
                    <option th:value="user"><span th:text="user"></span></option>
                </select><br>
                <br>
                <div id="pass" style="display:none;">
                    <label>Enter username:</label>
                    <input id="usern" type="text" name="username"><br><br>
                    <label>Enter password:</label>
                    <input id="passwd" type="text" name="password"><br><br>
                </div>
            </fieldset> <br>

           <input class="btn-submit-add" type="submit" value="Submit Entry">

        </form><br>
    </main>

    <!--Footer insertion-->
    <div th:insert="footer :: footer_template"></div>

    <!--    JS function to hide username and password entry from other employees-->
    <script>
        function showFields(select) {
            if (select.value == 'admin' || select.value == 'user') {
                document.getElementById('pass').style.display = 'block';
                document.getElementById('usern').value = '';
                document.getElementById('passwd').value = '';
            } else {
                document.getElementById('pass').style.display = 'none';
                document.getElementById('usern').value = '';
                document.getElementById('passwd').value = '';
            }
        }
    </script>
</body>
</html>


