<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Agreements</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>
    <main class="main_body">
        <br><h2>End agreement</h2>
        <div class="main table-wrapper" id="main">
            <form action="#" th:action="@{/agreement/showAgreementListForEnd}" method="get" class="form-inline">
                <div style="float:left;">
                    <div>
                        <p style="margin-right: 3px;">Search by the end date of the agreement: </p>
                    </div>
                </div>
                <div style="float:left;">
                    <div>
                        <label>
                            <input type="date" th:value="${now}" name="endDate" placeholder="Enter end date" style="margin-top: 13px"/>
                        </label>
                        <input class="btn-action" type="submit" value="SEARCH" >
                    </div>
                </div>
            </form>
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Agreement ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Renter Name</th>
                    <th>Vehicle License Plate</th>
                    <th>Action</th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="agreement:${agreements}">
                    <td th:text="${agreement.id}"></td>
                    <td th:text="${#temporals.format(agreement.startDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#temporals.format(agreement.endDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${agreement.renter.firstName + ' ' + agreement.renter.lastName}"></td>
                    <td th:text="${agreement.vehicle.plates}"></td>
                    <td>
                        <!-- End button available if driven km is zero (meaning: not ended yet) and is not cancelled already -->
                        <div>
                            <a th:if="${agreement.drivenKm == 0} and !${agreement.cancelled}" th:href="@{/agreement/showFormForUpdate(agreementId=${agreement.id})}"><button class="btn-action">END</button></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>