<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Nordic Motorhomes</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:replace="menu :: menu_template"></div>

<!--Greets the user with the username entered-->
<h3 >Welcome [[${#httpServletRequest.remoteUser}]]</h3>


<form th:action="@{/}" method="get">
    <input type="submit" value="Home"/>
</form>
<br>
<form th:action="@{/viewVehicles}" method="get">
    <input type="submit" value="Vehicles"/>
</form>
<br>
<form th:action="@{/viewRenters}" method="get">
    <input type="submit" value="Renters"/>
</form>
<br>
<form th:action="@{/viewAgreements}" method="get">
    <input type="submit" value="Agreements"/>
</form>
<br>
<form th:action="@{/viewEmployees}" th:if="${#authorization.expression('hasAuthority(''admin'')')}" method="get">
    <input type="submit" value="Employees"/>
</form>
<br>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>

<!-- insert footer -->
<div th:insert="footer :: footer_template"></div>
</body>
</html>
