<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>No results</title>
    <!-- import header part-->
</head>
<body>
    <!-- import menu-->
    <div th:insert="menu :: menu_template"></div>

    <!-- back button-->
    <div class="btn-undermenu">
        <a th:href="@{/create/selectDates}">
            <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30"><button class="btn-back"><strong>BACK</strong></button>
        </a>
    </div>

    <main class="main_body">
        <br><br>
        <h1 class="heading">Sorry, there are no results</h1><br>
        <div class="btn-body">
            <a th:href="@{/create/selectDates}">
                <img src="http://localhost:8080/SVG/redo-solid.svg" class="svg search_button" height="30" width="30"><button class="btn-search"><strong>SEARCH AGAIN</strong></button>
            </a>
        </div>
    </main>
    <!-- import footer-->
    <div th:insert="footer :: footer_template"></div>
</body>
</html>