<!DOCTYPE html> <!--Dimitrios-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="header :: header_template">
    <title>Add new agreement</title>
    <!-- import header part-->
</head>
<body>
<!-- import menu-->
<div th:insert="menu :: menu_template"></div>

<!-- back button-->
<div class="btn-undermenu">
    <a th:href="@{/viewAgreements}">
        <img src="http://localhost:8080/SVG/arrow-left-solid.svg" class="svg undermenu_button" height="30" width="30">
        <button class="btn-back" style="cursor: pointer"><strong>BACK</strong></button>
    </a>
</div>


<main class="main_body">

    <h1 class="heading">Update Agreement</h1><br>

    <form th:action="@{'/saveUpdate/'+${agreement.id}}"  th:object="${itemList}" method="post">
        <fieldset>
            <p>Renter</p>
            <label>First Name:</label>
            <input readonly name="renter.firstName" th:value="${agreement.renter.firstName}"><br>
            <label>Last Name:</label>
            <input readonly name="renter.lastName" th:value="${agreement.renter.lastName}"><br>
        </fieldset>
        <fieldset>
            <p>Vehicle</p>
            <label>Plate:</label>
            <input readonly th:value="${agreement.vehicle.plates}"><br>
            <label>Brand:</label>
            <input readonly th:value="${agreement.vehicle.brand}"><br>
            <label>Model:</label>
            <input readonly th:value="${agreement.vehicle.model}"><br>
            <label>Beds:</label>
            <input readonly th:value="${agreement.vehicle.beds}"><br>
            <label>Price:</label>
            <input readonly th:value="${agreement.vehicle.price}"><br>
        </fieldset>
        <fieldset>
            <p>Dates</p>
            <label>Start Date:</label>
            <input readonly th:value="${agreement.startDate}"><br>
            <label>End Date:</label>
            <input readonly th:value="${agreement.endDate}"><br>
        </fieldset>
        <fieldset>
            <p>Pick-up and drop-off points</p>
            <label>Pick-up point:</label>
            <input type="number" min="0" max="999999" th:value="${agreement.pickUpPoint}"><br>
            <label>Drop-off point:</label>
            <input type="number" min="0" max="999999" th:field="${agreement.dropOffPoint}"><br>
        </fieldset>
        <fieldset>
            <p>Extra charges</p><!-- Marianna -->
            <div th:each="item, itemStat: *{items}">
                <label th:text="*{items[__${itemStat.index}__].name}"></label>
                <input type="number" min ="0" th:name="${item.name}" th:field="*{items[__${itemStat.index}__].quantity}" th:value="*{items[__${itemStat.index}__].quantity}">
                <input type="number" hidden  th:field="*{items[__${itemStat.index}__].id}" th:value="*{items[__${itemStat.index}__].id}"><br>
                <input type="text" hidden  th:field="*{items[__${itemStat.index}__].name}" th:value="*{items[__${itemStat.index}__].name}">
                <input type="number" hidden  th:field="*{items[__${itemStat.index}__].price}" th:value="*{items[__${itemStat.index}__].price}">
            </div>
        </fieldset> <br>
        <input class="btn-submit-add" type="submit" value="Save">
    </form>
</main>
<!-- import footer-->
<div th:insert="footer :: footer_template"></div>
</body>
</html>