<!DOCTYPE html> <!--Marianna-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:insert="header :: header_template">
        <title>Renteres</title>
        <!-- import header part-->
    </head>
    <body>
        <!-- import menu-->
        <div th:insert="menu :: menu_template"></div>

        <!-- add button-->
        <div class="btn-undermenu">
            <a th:href="@{/addRenter}">
                <img src="SVG/plus-solid.svg" class="svg undermenu_button" height="30" width="30"><button class="btn-add"><strong>ADD NEW</strong></button>
            </a>
        </div>

        <main class="main_body">
            <div class="main table-wrapper" id="main">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>CPR</th>
                        <th>Phone</th>
                        <th>Driver License</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- print each renter in a new row-->
                    <tr th:each="renter: ${renters}">
                        <td th:text="${renter.id}"></td>
                        <td th:text="${renter.firstName}"></td>
                        <td th:text="${renter.lastName}"></td>
                        <td th:text="${renter.cpr}"></td>
                        <td th:text="${renter.phone}"></td>
                        <td th:text="${renter.licenseNumber}"></td>
                        <td>
                            <a  th:href="@{'/showRenter/'+${renter.id}}"><button class="btn-action">VIEW</button></a>
                            <a><button class="btn-action">UPDATE</button></a>
                            <a><button class="btn-action">DELETE</button></a><!-- cant delete members with active contract-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!-- insert footer -->
        <div th:insert="footer :: footer_template"></div>
    </body>
</html>