<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Agreement</title>
</head>

<body>
<div>
    <form action="#" th:action="@{/agreements/create/addAgreementDetails/{agreementId}(agreementId= ${agreementId})}" method="post">
        <fieldset>
            <p>Agreement Information</p>
            <p>Pick-up and drop-off</p>
            <label>Pick-up point:</label>
            <input type="number" min="0" th:field="${agreement.pickUpPoint}" placeholder="distance in km" required><br><br>
            <small>Must be non negative decimal number.</small><br>
            <label>Drop-off point:</label>
            <input type="number" min="0" th:field="${agreement.dropOffPoint}" placeholder="distance in km" required><br><br>
            <small>Must be non negative decimal number.</small><br>
        </fieldset> <br>

        <fieldset>
            <p>Extra charges</p>
            <table>
                <tr th:each="item :${itemList}">
                    <td>
                        <input type="checkbox" th:field="${agreement.items}" th:value="${item.id}">
                        <label th:text="${item.name}"></label>
                    </td>
                </tr>
            </table>
        </fieldset> <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>